
.neumorphicButton {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: none;

    background: var(--background-color);

    box-shadow: var(--shadow-distance-neumorphic-button-medium) var(--shadow-distance-neumorphic-button-medium) var(--shadow-blur-neumorphic-button-medium) var(--dark-shadow-color),
    calc(-1 * var(--shadow-distance-neumorphic-button-medium)) calc(-1 * var(--shadow-distance-neumorphic-button-medium)) var(--shadow-blur-neumorphic-button-medium) var(--light-shadow-color);
}

.neumorphicButton:active {
    box-shadow: inset var(--shadow-distance-neumorphic-button-medium) var(--shadow-distance-neumorphic-button-medium) var(--shadow-blur-neumorphic-button-medium) var(--dark-shadow-color),
    inset calc(-1 * var(--shadow-distance-neumorphic-button-medium)) calc(-1 * var(--shadow-distance-neumorphic-button-medium)) var(--shadow-blur-neumorphic-button-medium) var(--light-shadow-color);
}

