@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Symbols Rounded Regular';
    src: url('/fonts/MaterialSymbolsRounded_28pt-Regular.ttf') format('truetype');
}

body {
    font-family: 'Cascadia Code', sans-serif;
}

@keyframes grow-relative-width {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes message-appear {
    0% {
        translate: 0 -125%;
    }
    100% {
        translate: 0 0;
    }
}

@keyframes message-disappear {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 -125%;
    }
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

dialog[open]::backdrop {
    animation: dialog-backdrop-fade-in 0.1s ease-out forwards;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 60%);
}

@keyframes dialog-backdrop-fade-in {
    from {
        background-color: rgb(0 0 0 / 0%);
    }
    to {
        background-color: rgb(0 0 0 / 60%);
    }
}