:root {
    --white-neumorphic-background-color: #ecf0f3;
    --white-neumorphic-light-shadow-color: rgb(255, 255, 255);
    --white-neumorphic-dark-shadow-color: rgb(209, 217, 230);

    --gray-neumorphic-background-color: #303135;
    --gray-neumorphic-light-shadow-color: rgb(62, 63, 70);
    --gray-neumorphic-dark-shadow-color: rgb(35, 35, 35);

    --neumorphic-background-color: var(--gray-neumorphic-background-color);
    --neumorphic-light-shadow-color: var(--gray-neumorphic-light-shadow-color);
    --neumorphic-dark-shadow-color: var(--gray-neumorphic-dark-shadow-color);
}

html {
    background-color: var(--neumorphic-background-color);
}

.testclass {
    color: red;
}